@model IEnumerable<MVCeTicaret.Models.Product>
@{
    ViewBag.Title = "Product";
}

<div class="container">
    <div class="row" style="margin-top:50px;">
        @{ 
            foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="@Url.Content(item.ImageUrl)" alt="@Url.Content(item.AltText)" />
                        <div class="caption">
                            <h5 style="height:40px;">
                                @item.Name - @string.Format("{0:C2}", item.UnitPrice)
                            </h5>
                            <p style="height:60px;overflow:auto;"> @* overflow hidden da denilebilir *@
                                @item.ShortDescription
                            </p>

                            <p>
                                @Html.ActionLink("Ürün Detayı","ProductDetail",new { id = item.ProductID }, new { @class = "btn btn-primary form-control" })
                            </p>
                        </div>
                    </div>

                </div>
                
            }
        }
    </div>
</div>

